<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<!--commento>-----------TITOLO---------------<!-->
  <h2 class="text-center mt-3">app.component</h2>
<!--commento>----CONTENITORE PRINCIPALE------<!-->
  <div class="d-flex justify-content-evenly ">
<!--commento>--------CONTENITORE SX----------<!-->
    <div id="user-container">
    <app-user-container class="d-flex justify-content-evenly"></app-user-container>
    <div class="d-flex justify-content-evenly">
      <div id="user-list">
      <app-user-list class="mt-2"></app-user-list>
    </div>
      <app-user-detail id="user-detail"></app-user-detail>
    </div>
<!--commento>--------CONTENITORE DX----------<!-->
  </div>
  <div id="order-container">
    <div class="text-center">
    <app-order-container></app-order-container>
    <div id="order-list" class="mt-4">
      <app-order-list class="mt-1"></app-order-list>
    </div>
  </div>
  </div>
  </div>
</body>
</html>
